// fonts
//Gotham Black, Regular
//Gotham Book, Regular
//Klinic Slab, Book
@font-face {
    font-family: 'Gotham-Black--Regular';
    src: url('/assets/fonts/Gotham/gotham-black-webfont.woff2') format('woff2'), url('/assets/fonts/Gotham/gotham-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Book--Regular';
    src: url('/assets/fonts/Gotham/gotham-book-webfont.woff2') format('woff2'), url('/assets/fonts/Gotham/gotham-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Klinic-Slab--Book';
    src: url('/assets/fonts/KlinicSlab/klinicslabbook-webfont.woff2') format('woff2'), url('/assets/fonts/KlinicSlab/klinicslabbook-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}