h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 0;
    padding: 0;
    small {
        margin-left: 10px;
        font-size: 16px;
        color: #888888;
        position: relative;
        font-family: 'Gotham-Book--Regular', sans-serif;
        font-weight: normal;
    }
}

h1 {
    font-family: 'Gotham-Black--Regular';
    font-size: 36px;
    //line-height: 80px;
}

h2 {
    font-family: 'Klinic-Slab--Book';
    font-size: 28px;
    //line-height: 44px;
}

h3 {
    font-family: 'Gotham-Black--Regular';
    font-size: 28px;
    line-height: inherit;
    margin: 40px 0 0 0;
}

h4 {
    font-family: 'Gotham-Black--Regular';
    font-size: 22px;
    line-height: inherit;
    margin: 40px 0 0 0;
}

h5 {
    font-family: 'Gotham-Black--Regular';
    font-size: 18px;
    line-height: inherit;
    margin: 40px 0 0 0;
}

h6 {
    font-family: 'Gotham-Black--Regular';
    font-size: 16px;
    line-height: inherit;
    margin: 40px 0 0 0;
}

@media screen and (min-width: 760px) {
    h1 {
        font-family: 'Gotham-Black--Regular';
        font-size: 72px;
        line-height: 80px;
    }
    h2 {
        font-family: 'Klinic-Slab--Book';
        font-size: 48px;
        line-height: 44px;
    }
    h3 {
        font-family: 'Gotham-Black--Regular';
        font-size: 48px;
        line-height: inherit;
        margin: 60px 0 0 0;
    }
    h4 {
        font-family: 'Gotham-Black--Regular';
        font-size: 32px;
        line-height: inherit;
        margin: 40px 0 0 0;
    }
}

@media screen and (min-width: 980px) {
    h1 {
        font-family: 'Gotham-Black--Regular';
        font-size: 72px;
        line-height: 80px;
    }
    h2 {
        font-family: 'Klinic-Slab--Book';
        font-size: 48px;
        line-height: 44px;
    }
    h3 {
        font-family: 'Gotham-Black--Regular';
        font-size: 48px;
        line-height: inherit;
        margin: 60px 0 0 0;
    }
    h4 {
        font-family: 'Gotham-Black--Regular';
        font-size: 36px;
        line-height: inherit;
        margin: 60px 0 0 0;
    }
}

@media screen and (min-width: 1290px) {
    //
}

// theme adjustments
.nlcstar--theme-puerto-rico {
    h1,
    h3,
    h4,
    h5,
    h6 {
        color: $PuertoRico;
        & a:hover {
            color: darken($PuertoRico, 10%);
        }
    }
    h2 {
        color: $FreeSpeechAquamarine;
        & a:hover {
            color: darken($FreeSpeechAquamarine, 10%);
        }
    }
}

.nlcstar--theme-affair {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $Affair;
        & a:hover {
            color: darken($Affair, 10%);
        }
    }
}

.nlcstar--theme-endeavour {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $Endeavour;
        & a:hover {
            color: darken($Endeavour, 10%);
        }
    }
}

.nlcstar--theme-nevada {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $Nevada;
        & a:hover {
            color: darken($Nevada, 10%);
        }
    }
}