// call to action link
.cta {
    display: inline;
    font-family: 'Gotham-Black--Regular';
    font-size: 20px;
    line-height: 32px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s cubic-bezier(0.65, 0.05, 0.36, 1);
    background: no-repeat right center;
    padding-right: 34px;
    &:hover {
        padding-right: 42px;
    }
}

// theme adjustments
.nlcstar--theme-puerto-rico .cta {
    color: $PuertoRico;
    background-image: url(/assets/images/icons/arrow--puerto-rico.svg);
    &:hover {
        color: darken($PuertoRico, 10%);
    }
}

.nlcstar--theme-affair .cta {
    color: $Affair;
    background-image: url(/assets/images/icons/arrow--affair.svg);
    &:hover {
        color: darken($Affair, 10%);
    }
}

.nlcstar--theme-endeavour .cta {
    color: $Endeavour;
    background-image: url(/assets/images/icons/arrow--endeavour.svg);
    &:hover {
        color: darken($Endeavour, 10%);
    }
}