ul {
    padding: 20px 0 20px 40px;
    li {
        display: list-item;
        color: $Nevada;
        font-family: 'Gotham-Book--Regular', sans-serif;
        font-size: 16px;
        line-height: inherit;
        margin: 0 0 15px 0;
        list-style: disc;
        a {
            color: $Nevada;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

@media screen and (min-width: 760px) {
    ul {
        li {
            font-size: 18px;
        }
    }
}

@media screen and (min-width: 980px) {
    ul {
        li {
            font-size: 20px;
        }
    }
}