// paragraphs
p {
    color: $Nevada;
    font-family: 'Gotham-Book--Regular', sans-serif;
    font-size: 16px;
    line-height: 24px;
    &.small {
        font-size: 10px;
    }
    a {
        color: $Nevada;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}

blockquote {
    // font-size: 20px;
    // line-height: 22px;
    // margin: 25px;
    font-family: 'Klinic-Slab--Book';
    font-size: 26px;
    line-height: inherit;
    margin: 25px;
}

@media screen and (min-width: 760px) {
    p {
        font-size: 18px;
        line-height: 26px;
        &.small {
            font-size: 12px;
        }
    }
    blockquote {
        font-size: 36px;
        margin: 50px;
    }
}

@media screen and (min-width: 980px) {
    p {
        font-size: 20px;
        line-height: 32px;
    }
    blockquote {
        font-size: 36px;
        line-height: 44px;
        margin: 50px;
    }
}

@media screen and (min-width: 1290px) {
    //
}

// theme adjustments
.nlcstar--theme-puerto-rico {
    blockquote {
        color: $FreeSpeechAquamarine;
    }
}

.nlcstar--theme-affair {
    blockquote {
        color: $Affair;
    }
}

.nlcstar--theme-endeavour {
    blockquote {
        color: $Endeavour;
    }
}

.nlcstar--theme-nevada {
    blockquote {
        color: $Nevada;
    }
}