.nlcstar--front-facts#fact3 {
  header {
    width: 100%;
  }
  p.cite {
    display: block;
    transform: translateY(40px);
    font-size: 14px;
  }
}

@media screen and (min-width: 970px) {
  .nlcstar--front-facts#fact3 {
    margin-top: 200px;
  }
}
@media screen and (min-width: 1338px) {
  .nlcstar--front-facts#fact3 {
    margin-top: 200px;
  }
}