.nlcstar--front-facts {
    position: relative;
    width: 100%;
    margin-top: 50px;
    a {
        color: $Nevada;
        &:hover {
            text-decoration: none;
        }
    }
    ul {
        padding: 20px 0 20px 40px;
        li {
            display: list-item;
            color: $Nevada;
            font-family: 'Gotham-Book--Regular', sans-serif;
            font-size: 16px;
            line-height: inherit;
            margin: 0 0 15px 0;
            a {
                color: $Nevada;
            }
        }
    }
    header {
        width: 100%;
        h3 {
            margin: 0 0 10px 0;
        }
        .cta {
            margin-bottom: 20px;
            display: inline-block;
        }
    }
    figure {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 65%;
        height: 350px;
        transition: all 1s cubic-bezier(0.65, 0.05, 0.36, 1);
        transform: translateY(0px);
        //transform: translateY(-50px);
        margin-left: auto;
        //margin-right: -25px;
        z-index: 0;
        &.animate {
            //transform: translateY(100px);
        }
        img {
            flex-shrink: 0;
            min-width: 100%;
            min-height: 100%;
            object-fit: cover;
        }
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
        &.noBackgroundColor {
            opacity: 0;
            &.animate {
                opacity: 1;
            }
        }
        .cite {
            position: absolute;
            bottom: -10px;
            color: #fff;
            font-size: 12px;
            left: 20px;
        }
    }
    aside {
        color: #fff;
        width: auto;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        z-index: 1;
        transform: translateY(-100px);
        .aside-inner-wrap {
            padding: 30px;
            width: auto;
        }
        .data-wrap {
            border-bottom: 1px solid #fff;
            width: 100%;
        }
        .number {
            font-family: 'Gotham-Black--Regular';
            font-size: 100px;
        }
        .suffix-percent {
            font-family: 'Gotham-Black--Regular';
            font-size: 64px;
        }
        .suffix-text {
            font-family: 'Gotham-Black--Regular';
            font-size: 24px;
        }
        p {
            color: #fff;
            font-family: 'Klinic-Slab--Book';
            font-size: 22px;
            line-height: inherit;
            margin-top: 30px;
            width: 100%;
        }
    }
    &.chart {
        header {
            position: relative;
            margin: 0 0 30px 0;
        }
        .nlcstar--front-chart {
            border-top: solid 1px #c3c5c8;
            padding: 30px 0 0 0;
        }
    }
    &.wad-of-trash {
        background: url('/assets/images/wad-of-paper_large.jpg') no-repeat;
    }
    &.floating-can {
        background: url('/assets/images/can_bg.jpg') no-repeat center bottom;
        background-size: contain;
    }
    &.floating-water-bottle {
        background: url('/assets/images/water-bottle-r2l_bg.jpg') no-repeat center bottom;
        background-size: contain;
    }
}

#fact1 {
    background-position: center center;
}

#fact2 {
    background-position: center 200px;
    padding-bottom: 210px;
}

#fact3 {
    header {
        width: 100%;
    }
    margin-top: 100px;
    p.cite {
        display: block;
        transform: translateY(40px);
        font-size: 14px;
    }
}

#fact4 {
    margin-top: 100px;
    background-size: auto;
}

#fact5 {
    margin-top: 100px;
    background-position: center 300px;
}

#fact6 {
    //height: 800px;
    // margin-top: 200px;
    margin-top: 100px;
    header {
        width: 100%;
        position: relative;
    }
    figure {
        margin: 0 auto;
        width: 90%;
        height: auto;
        img {
            object-fit: contain;
        }
    }
}

#fact7 {
    margin-top: 100px;
    background: url('/assets/images/the-way-forward.jpg') no-repeat right bottom;
    background-size: cover;
    // height: 700px;
    //padding: 10px;
    header {
        //width: 100%;
        background: rgba(217, 214, 209, .8);
        padding: 20px 20px 0 20px;
        margin: 10px auto;
        h3 {
            margin: 0;
        }
    }
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #faf8f9;
        opacity: 1;
        transition: all 1s cubic-bezier(0.65, 0.05, 0.36, 1);
    }
    &.animate:before {
        opacity: 0;
    }
}

.nlcstar--theme-puerto-rico {
    aside {
        @include background-opacity($FreeSpeechAquamarine);
    }
    figure:before {
        background: rgba($PuertoRico, 1);
        transition: all 1s cubic-bezier(0.65, 0.05, 0.36, 1);
    }
    figure.animate:before {
        background: rgba($PuertoRico, .5);
    }
}

.nlcstar--theme-affair {
    aside {
        @include background-opacity($Affair);
    }
    figure:before {
        background: rgba($Affair, 1);
        transition: all 1s cubic-bezier(0.65, 0.05, 0.36, 1);
    }
    figure.animate:before {
        background: rgba($Affair, .5);
    }
    figure.noBackgroundColor:before {
        background: none;
    }
}

.nlcstar--theme-endeavour {
    aside {
        @include background-opacity($Endeavour);
    }
    figure:before {
        background: rgba($Endeavour, 1);
        transition: all 1s cubic-bezier(0.65, 0.05, 0.36, 1);
    }
    figure.animate:before {
        background: rgba($Endeavour, .5);
    }
}

@media screen and (min-width: 600px) {
    .nlcstar--front-facts {
        header {
            h3 {
                font-size: 58px;
                line-height: 64px;
            }
        }
        ul {
            li {
                font-size: 18px;
            }
        }
        #fact4 {
            margin-top: 200px;
        }
        #fact5 {
            margin-top: 200px;
        }
        #fact6 {
            //height: 800px;
            margin-top: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            header {
                flex: 1;
                width: auto;
            }
            figure {
                flex: 1;
                height: 100%;
                width: auto;
                img {
                    object-fit: contain;
                }
            }
        }
        #fact7 {
            height: 700px;
            margin-top: 200px;
            padding: 30px 40px 0 40px;
            header {
                background: none;
            }
        }
    }
}

// @media screen and (min-width: 980px) and (max-width: 1337px) {
//     .nlcstar--front-facts {
//         header {}
//     }
// }
@media screen and (min-width: 970px) {
    .nlcstar--front-facts {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        position: relative;
        width: 100%;
        height: 1000px;
        margin-top: 200px;
        ul {
            li {
                font-size: 20px;
            }
        }
        header {
            width: 45%;
            position: absolute;
            // margin-top: 100px;
            h3 {
                margin: 0 0 10px 0;
            }
            .cta {
                margin-bottom: 20px;
                display: inline-block;
            }
        }
        &.left {
            header {
                left: 0;
            }
            figure {
                right: 0;
                margin-top: 150px;
            }
            aside {
                left: 0;
            }
        }
        &.right {
            header {
                right: 0;
            }
            figure {
                left: 0;
                margin-top: 150px;
            }
            aside {
                right: 0;
            }
        }
        figure {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            width: 45%;
            height: 472px;
            transition: all 1s cubic-bezier(0.65, 0.05, 0.36, 1);
            transform: translateY(-50px);
            margin: 0;
            &.animate {
                transform: translateY(0px);
            }
            img {
                flex-shrink: 0;
                min-width: 100%;
                min-height: 100%;
            }
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
            &.noBackgroundColor {
                opacity: 0;
                &.animate {
                    opacity: 1;
                }
            }
        }
        aside {
            position: absolute;
            top: auto;
            bottom: 0;
            color: #fff;
            width: 45%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 0;
            .aside-inner-wrap {
                padding: 50px;
                width: 100%;
            }
            .data-wrap {
                border-bottom: 1px solid #fff;
                width: 100%;
            }
            .number {
                font-family: 'Gotham-Black--Regular';
                font-size: 145px;
            }
            .suffix-percent {
                font-family: 'Gotham-Black--Regular';
                font-size: 62px;
            }
            .suffix-text {
                font-family: 'Gotham-Black--Regular';
                font-size: 30px;
            }
            p {
                color: #fff;
                font-family: 'Klinic-Slab--Book';
                font-size: 24px;
                line-height: inherit;
                margin-top: 30px;
                width: 100%;
            }
        }
        &.chart {
            header {
                position: relative;
                margin: 0 0 30px 0;
            }
            .nlcstar--front-chart {
                border-top: solid 1px #c3c5c8;
                padding: 30px 0 0 0;
            }
        }
    }
    &#fact1 {
        background-position: center bottom;
        height: 1400px;
        aside {
            margin-top: 835px;
            bottom: auto;
        }
    }
    &#fact2 {
        background-position: center center;
        aside {
            margin-top: 410px;
        }
    }
    &#fact3 {
        margin-top: 200px;
    }
    &#fact4 {
        margin-top: 300px;
        aside {
            margin: 420px 0 0 0;
        }
    }
    &#fact5 {
        background-position: center bottom;
        margin-top: 300px;
        aside {
            margin-top: 600px;
            bottom: auto;
        }
    }
    &#fact6 {
        height: 800px;
        margin-top: 200px;
        figure {
            margin-top: 0;
        }
    }
    #fact7 {
        //padding: 30px 40px 0 40px;
        height: 600px;
        padding: 70px;
        header {
            margin: 0 0 0 70px;
            width: 50%;
            background: none;
            h3 {
                margin: 0;
            }
        }
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #faf8f9;
            opacity: 1;
            transition: all 1s cubic-bezier(0.65, 0.05, 0.36, 1);
        }
        &.animate:before {
            opacity: 0;
        }
    }
}

@media screen and (min-width: 1338px) {
    .nlcstar--front-facts {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        position: relative;
        width: 100%;
        height: 1000px;
        margin-top: 200px;
        header {
            width: 572px;
            position: absolute;
            // margin-top: 100px;
            h3 {
                margin: 0 0 10px 0;
            }
            .cta {
                margin-bottom: 20px;
                display: inline-block;
            }
        }
        &.left {
            header {
                left: 0;
            }
            figure {
                right: 0;
                margin-top: 150px;
            }
            aside {
                left: 0;
            }
        }
        &.right {
            header {
                right: 0;
            }
            figure {
                left: 0;
                margin-top: 150px;
            }
            aside {
                right: 0;
            }
        }
        figure {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            width: 572px;
            height: 572px;
            transition: all 1s cubic-bezier(0.65, 0.05, 0.36, 1);
            transform: translateY(-50px);
            &.animate {
                transform: translateY(0px);
            }
            img {
                flex-shrink: 0;
                min-width: 100%;
                min-height: 100%;
            }
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
            &.noBackgroundColor {
                opacity: 0;
                &.animate {
                    opacity: 1;
                }
            }
        }
        aside {
            position: absolute;
            top: 0;
            color: #fff;
            width: 572px;
            height: 572px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .aside-inner-wrap {
                padding: 50px;
                width: 100%;
            }
            .data-wrap {
                border-bottom: 1px solid #fff;
                width: 100%;
            }
            .number {
                font-family: 'Gotham-Black--Regular';
                font-size: 175px;
            }
            .suffix-percent {
                font-family: 'Gotham-Black--Regular';
                font-size: 72px;
            }
            .suffix-text {
                font-family: 'Gotham-Black--Regular';
                font-size: 36px;
            }
            p {
                color: #fff;
                font-family: 'Klinic-Slab--Book';
                font-size: 30px;
                line-height: 36px;
                margin-top: 30px;
                width: 100%;
            }
        }
        &.chart {
            header {
                position: relative;
                margin: 0 0 30px 0;
            }
            .nlcstar--front-chart {
                border-top: solid 1px #c3c5c8;
                padding: 30px 0 0 0;
            }
        }
    }
    &#fact1 {
        background-position: center bottom;
        height: 1400px;
        aside {
            margin-top: 825px;
        }
    }
    &#fact2 {
        aside {
            margin-top: 500px;
        }
    }
    &#fact3 {
        margin-top: 200px;
    }
    &#fact4 {
        margin-top: 300px;
        aside {
            margin: 420px 0 0 0;
        }
    }
    &#fact5 {
        background-position: center center;
        margin-top: 300px;
        aside {
            margin-top: 500px;
        }
    }
    &#fact6 {
        height: 800px;
        margin-top: 200px;
        figure {
            margin-top: 0;
        }
    }
    #fact7 {
        height: 600px;
        padding: 70px;
        header {
            margin: 0 0 0 70px;
            width: 50%;
            h3 {
                margin: 0;
            }
        }
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #faf8f9;
            opacity: 1;
            transition: all 1s cubic-bezier(0.65, 0.05, 0.36, 1);
        }
        &.animate:before {
            opacity: 0;
        }
    }
}