.nlcstar--theme-puerto-rico {
    aside {
        @include background-opacity($FreeSpeechAquamarine);
    }
}

.nlcstar--theme-affair {
    aside {
        @include background-opacity($Affair);
    }
}
.nlcstar--theme-endeavour {
    aside {
        @include background-opacity($Endeavour);
    }
}



.nlcstar--front-facts {
    padding: 150px 0;
    &.left {}
    &.right {
        header {
            order: 2;
            margin: 0;
        }
        figure {
            order: 1;
            margin: 280px 0 0 0;
        }
        aside {
            order: 3;
            margin: -280px 0 0 auto;
        }
    }
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    header {
        width: 45%;
    }
    figure {
        margin: 280px 0 0 0;
        width: 45%;
        img {
            max-width: 100%;
        }
    }
    aside {
        color: #fff;
        margin: -280px 0 0 0;
        max-width: 372px;
        padding: 100px;
        .data-wrap {
            border-bottom: 1px solid #fff;
        }
        .number {
            font-family: 'Gotham-Black--Regular';
            font-size: 175px;
        }
        .suffix-percent {
            font-family: 'Gotham-Black--Regular';
            font-size: 72px;
        }
        .suffix-text {
            font-family: 'Gotham-Black--Regular';
            font-size: 36px;
        }
        p {
            color: #fff;
            font-family: 'Klinic-Slab--Book';
            font-size: 30px;
            line-height: 36px;
        }
    }
    &.last {
        background: url('/assets/images/the-way-forward--placeholder.jpg') no-repeat center center;
        background-size: cover;
        padding: 90px 0 220px 90px;
        header {
            width: 50%;
            h3 {
                margin: 0;
            }
        }
    }
    &.wad-of-trash {
        background: url('/assets/images/wad-of-trash--placeholder.jpg') no-repeat center bottom;
        
    }
    &.floating-can {
        background: url('/assets/images/floating-can--placeholder.jpg') no-repeat center bottom;
    }
    &.floating-water-bottle {
        background: url('/assets/images/floating-water-bottle--placeholder.jpg') no-repeat center 430px;
    }
    &.graph {
        width: 956px;
        margin: 0 auto;
        padding-bottom: 70px;
        header {
            width: 100%;
            margin: 0 0 0 92px;
            h3 {
                margin: 0;
            }
        }
        figure {
            width: 100%;
            margin: 0;
        }
    }
}