.nlcstar--front-facts {
    position: relative;
    width: 100%;
    height: 1000px;
    margin-top: 100px;
    header {
        width: 50%;
        position: absolute;
        margin-top: 100px;
        h3 {
            margin: 0;
        }
        .cta {
            margin-bottom: 20px;
            display: inline-block;
        }
    }
    figure {
        margin-top: 240px;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 572px;
        height: 572px;
        transition: all 1s cubic-bezier(0.65, 0.05, 0.36, 1);
        transform: translateY(-50px);
        &.animate {
            transform: translateY(0px);
        }
        img {
            flex-shrink: 0;
            min-width: 100%;
            min-height: 100%;
        }
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
        &.noBackgroundColor {
            opacity: 0;
            &.animate {
                opacity: 1;
            }
        }
    }
    aside {
        margin-top: 450px;
        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
        width: 572px;
        height: 572px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .aside-inner-wrap {
            padding: 50px;
            width: 100%;
        }
        .data-wrap {
            border-bottom: 1px solid #fff;
            width: 100%;
        }
        .number {
            font-family: 'Gotham-Black--Regular';
            font-size: 175px;
        }
        .suffix-percent {
            font-family: 'Gotham-Black--Regular';
            font-size: 72px;
        }
        .suffix-text {
            font-family: 'Gotham-Black--Regular';
            font-size: 36px;
        }
        p {
            color: #fff;
            font-family: 'Klinic-Slab--Book';
            font-size: 30px;
            line-height: 36px;
            // margin: 30px 50px;
            margin-top: 30px;
            width: 100%;
        }
    }
    &.chart {
        header {
            position: relative;
            margin: 0 0 30px 0;
        }
        .nlcstar--front-chart {
            border-top: solid 1px #c3c5c8;
            padding: 30px 0 0 0;
        }
    }
    &.wad-of-trash {
        background: url('/assets/images/wad-of-paper_large.jpg') no-repeat center bottom;
    }
    &.floating-can {
        background: url('/assets/images/floating-can--placeholder.jpg') no-repeat center bottom;
    }
    &.floating-water-bottle {
        background: url('/assets/images/water-bottle_bg.jpg') no-repeat center bottom;
        background-size: contain;
    }
}

#fact3 {
    margin-top: 300px;
}

#fact6 {
    height: 800px;
    margin-top: 200px;
    figure {
        margin-top: 0;
    }
}

#fact7 {
    background: url('/assets/images/the-way-forward--placeholder.jpg') no-repeat right bottom;
    background-size: cover;
    height: 700px;
    padding: 70px;
    header {
        width: 50%;
        h3 {
            margin: 0;
        }
    }
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #faf8f9;
        opacity: 1;
        transition: all 1s cubic-bezier(0.65, 0.05, 0.36, 1);
    }
    &.animate:before {
        opacity: 0;
    }
}

// theme adjustments
.nlcstar--front-facts:first-child {
    margin-top: 0px;
}

.nlcstar--theme-puerto-rico {
    aside {
        @include background-opacity($FreeSpeechAquamarine);
    }
    figure:before {
        background: rgba($PuertoRico, 1);
        transition: all 1s cubic-bezier(0.65, 0.05, 0.36, 1);
    }
    figure.animate:before {
        background: rgba($PuertoRico, .5);
    }
}

.nlcstar--theme-affair {
    aside {
        @include background-opacity($Affair);
    }
    figure:before {
        background: rgba($Affair, 1);
        transition: all 1s cubic-bezier(0.65, 0.05, 0.36, 1);
    }
    figure.animate:before {
        background: rgba($Affair, .5);
    }
    figure.noBackgroundColor:before {
        background: none;
    }
}

.nlcstar--theme-endeavour {
    aside {
        @include background-opacity($Endeavour);
    }
    figure:before {
        background: rgba($Endeavour, 1);
        transition: all 1s cubic-bezier(0.65, 0.05, 0.36, 1);
    }
    figure.animate:before {
        background: rgba($Endeavour, .5);
    }
}

//572px