// header
#nlcstar--nav-wrapper {
    z-index: 2;
    //text-align: center;
    // justify-content: space-around;
    // align-items: center;
    //width: 100%;
    opacity: 0;
    transition: all .6s cubic-bezier(0.65, 0.05, 0.36, 1);
    margin: 0;
    padding: 25px 0 0 0;
    width: 100%;
    transform: translateY(-25px);
    &.animate {
        transform: translateY(0px);
        //    margin: 50px 0 0 0;
        opacity: 1;
        //transition: all .2s ease-in-out;
    }
    @media screen and (min-width: 760px) {
        z-index: 2;
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        opacity: 0;
        transition: all .6s cubic-bezier(0.65, 0.05, 0.36, 1);
        margin: 0 10px 35px 10px;
        padding: 50px 25px 35px 25px;
    }
    @media screen and (min-width: 980px) {
        //margin: 55px auto 36px auto;
    }
    @media screen and (min-width: 1290px) {
        //margin: 0;
        width: 100%;
        padding: 50px 0 35px 0;
        max-width: 1240px;
        margin: 0 auto;
    }
}

body.subpage {
    #nlcstar--nav-wrapper {
        border-bottom: solid 1px #c3c5c8;
        // padding-bottom: 35px;
        // margin: 0;
        // position: relative;
        // opacity: 0;
        // display: flex;
        // width: 100%;
        position: relative;
        z-index: 2;
        text-align: center;
        display: flex;
        width: 100%;
        opacity: 0;
        transition: all .6s cubic-bezier(0.65, 0.05, 0.36, 1);
        margin: 0 10px 35px 10px;
        padding: 25px 35px 35px 25px;
        transition: all .6s cubic-bezier(0.65, 0.05, 0.36, 1);
        &.animate {
            margin: 0 auto 0 auto;
            opacity: 1;
        }
    }
}