// site logo
.nlcstar--site-logo {
    width: auto;
    margin-right: auto;
    //margin: 0 auto 0 25px;
    @media screen and (min-width: 760px) and (max-width: 1223px) {}
    @media screen and (min-width: 1224px) {
        width: auto;
        margin-right: auto;
        margin-left: 0;
    }
    &.open {
        z-index: 3;
        svg path {
            fill: #0f58ac;
        }
    }
}