body.subpage.case-studies {
    figure {
        margin: 40px 0;
        padding: 0;
    }
    .nlcstar--site-nav li a.navbar-item {
        &:hover {
            color: $Affair;
        }
        &.active {
            color: $Affair;
        }
    }
}