body.subpage {
    position: relative;
    #content {
        opacity: 0;
        transition: all .6s cubic-bezier(0.65, 0.05, 0.36, 1);
        &.animate {
            opacity: 1;
        }
    }
    header {
        position: relative;
        .cite {
            position: absolute;
            bottom: -10px;
            color: #fff;
            font-size: 12px;
            left: 20px;
        }
    }
    @media screen and (min-width: 1338px) {}
    &::after {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 681px;
        height: 592px;
        background: url(/assets/images/wad-of-paper_subpage.jpg) no-repeat center center;
        display: block;
        //z-index: -1;
    }
}