// sitewide
.wrapper {
    margin: 0 auto;
    width: auto;
}

body.front {
    .wrapper {
        margin: 0 15px;
    }
}

@media screen and (min-width: 600px) {
    body.front {
        .wrapper {
            margin: 0 25px;
        }
    }
}

@media screen and (min-width: 970px) {
    //
}

@media screen and (min-width: 1338px) {
    body.front {
        .wrapper {
            max-width: 1238px;
            margin: 0 auto;
        }
    }
}

body.subpage {
    .wrapper {
        margin: 0 25px;
    }
}

@media screen and (min-width: 910px) {
    body.subpage {
        .wrapper {
            max-width: 860px;
            margin: 0 auto;
        }
    }
}